.cardContainerStyle {
    perspective: 1000px;
    width: 120px;
    height: 200px;
    cursor: pointer;
}

.cardStyle {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}

.cardFlippedStyle {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.cardFaceStyle {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    transform: rotateY(0deg);
}

.cardFaceStyleMirror {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    transform: rotateY(180deg);
}