.container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    font-family: sans-serif;
    perspective: 1000px;
    background-color: #3e2723;
    background-image: repeating-linear-gradient(
        45deg,
        #3e2723,
        #3e2723 50px,
        #4e342e 50px,
        #4e342e 100px
    );
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.9);
}

.table {
    width: 90vw;
    height: 90vh;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    background-image: conic-gradient(
        at center,
        #6a1b9a 0%,
        #8e24aa 10%,
        #6a1b9a 20%,
        #6a1b9a 80%,
        #8e24aa 90%,
        #6a1b9a 100%
    );
    border: 15px solid #691b9a5e;
    border-radius: 15px;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.7),
        0 10px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
